*{
    margin: 0;
    padding: 0;
}

.nav-container{
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.nav-box ul{
    list-style-type: none;
    display: flex;
}

.logo{
    padding: 0px 5px;
    height: 60px;
    
}
.nav-box ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 5px ;
    padding: 15px 25px;
}

.nav-box ul li a:hover{
    background-color: rgb(255, 94, 0);
    color: white;
    border-radius: 30px;
    transition: .5s;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 50px;

}
nav:hover{
    box-shadow: 0px 5px 10px;
    transition: 1s;
}

.btn a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(255, 94, 0);
    padding: 15px 25px;
    border-radius: 30px;
}

.btn{
margin-right: 10px;
}

.btn a:hover{
    color: rgb(255, 94, 0);
    background-color: white;
    box-shadow: 2px 2px 5px black;
    transition: .4s;
}

.enrole{
    position: absolute;
    top: 40%;
    left: 10%;
}

.intro h1{
    font-size: 70px;
    color: white;
    
}

.upper{
    font-size: 40px;
    color:rgb(255, 0, 221);


}

.btn-2 button{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 10px;
  }

.cources-container{
    width: 100%;
    padding: 100px 0px;
}

.cources-title{
    color: #f4511e;
    font-size: 25px;
    text-align: center;
    margin: 10px auto;
}

.cources-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}

.box{
    height: 433px;
    width: 330px;
    padding: 20px 35px;
    background-color:#004a61;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.box i{
    font-size: 60px;
    color: white;
    margin: 20px 0px;
    text-align: center;
}

.box h2{
    color: white;
    margin: 10px;
    font-size: 35px;
}

.box p{
    font-size: 22px;
    color: rgb(253, 255, 110);
    margin-bottom: 30px;
}

.box .button{
    text-decoration: none;
    border-radius: 40px;
    background-color: #f4511e;
    border: 3px solid transparent;
    color: #FFFFFF;
    padding: 10px 30px;
    font-weight: bold;
}

.box .button:hover{
    border-radius: 30px;
    background-color: white;
    color: #f4511e;
    border: 3px solid #f4511e;
    transition: .5s;
}